{% extends 'common.html' %}
{% set page_title = "Image Classification" %}

{% block style %}
<style>
	.samples-container {
		height: 100px;
	}
</style>
{% endblock %}

{% block body %}
<div class="modal status-modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border-0 shadow-lg">
			<div class="modal-body d-flex gap-2 align-items-center justify-content-center">
				<div class="spinner-border text-secondary">
					<span class="visually-hidden">Loading...</span>
				</div>
				<p class="fs-5 my-0">Loading model builder... please wait</p>
			</div>
		</div>
	</div>
</div>

<div class="container my-5">
	<h1 class="display-4 fw-bold text-primary mb-5">Image Classification</h1>

	<div class="alert alert-danger fs-5 d-lg-none" role="alert">
		Please use this tool on a large screen for better experience.
	</div>

	<div class="row row-cols-2 row-gap-3">
		<div class="col">

			<div id="classes-container" class="d-flex flex-column gap-3 mb-4">
				{% for i in range(2) %}
				<div class="classes card shadow-0 border">
					<div class="card-header p-3 text-bg-light">
						<div class="form-outline" data-mdb-input-init>
							<input type="text" class="form-control form-control-lg" value="Class {{i+1}}" placeholder="class name" />
							<label class="form-label">Class Label</label>
						</div>
					</div>
					<div class="card-body">
						<p class="sample-count mb-0" data-image-samples-count="{{i}}">Add image samples:</p>
						<div data-image-samples="{{i}}"
							class="samples-container py-3 d-flex gap-1 overflow-hidden overflow-x-scroll d-none"></div>
						<div class="d-flex gap-2 flex-wrap mt-3">
							<button class="dataCollector btn btn-primary" data-1hot="{{i}}" data-name="Class {{i+1}}" disabled>
								<i class="bi bi-camera me-2"></i>
								<span>Capture images</span>
							</button>
							<button class="btn btn-secondary"
								onclick="document.querySelector(`.dataCollectorFile[data-1hot='{{i}}']`).click()">
								<i class="bi bi-upload me-2"></i>
								<span>Upload images</span>
							</button>
							<input type="file" accept="image/*" multiple class="dataCollectorFile d-none" data-1hot="{{i}}"
								data-name="Class {{i+1}}" />
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<button id="add-class" class="btn btn-lg btn-primary">
				<i class="bi bi-plus-circle me-2"></i>Add Class
			</button>

			<div class="d-flex gap-2 flex-wrap mt-3">
				<button type="button" class="btn btn-lg btn-secondary" data-mdb-collapse-init
					data-mdb-target="#advanced-options">
					<i class="bi bi-gear me-2"></i>Options
				</button>
				<button id="train" class="btn btn-lg btn-success">Train &amp; Predict</button>
				<button id="reset" class="btn btn-lg btn-danger">Reset</button>
			</div>

			<div class="collapse mt-3" id="advanced-options">
				<div class="card card-body shadow-0 border">

					<p class="card-text">Advanced Options</p>

					<div class="input-group mb-3">
						<span class="input-group-text">Epochs</span>
						<input type="number" id="epochs" class="form-control" value="10" />
					</div>

					<div class="input-group">
						<span class="input-group-text">Batch Size</span>
						<input type="number" id="batchSize" class="form-control" value="5" />
					</div>

				</div>
			</div>
		</div>

		<div class="col">
			<div class="sticky-top">
				<div id="status" class="alert alert-primary fs-5" role="alert">Loading model builder... please wait
				</div>
				<div class="d-flex gap-2 flex-wrap mb-3">
					<button id="enableCam" class="btn btn-lg btn-primary">
						<i class="bi bi-camera-video me-2"></i>Enable Webcam
					</button>
					<button id="testImgBtn" class="btn btn-lg btn-primary d-none"
						onclick="document.getElementById('testImgFile').click()">
						<i class="bi bi-image me-2"></i>Upload Image
					</button>
				</div>
				<input id="testImgFile" type="file" accept="image/*" class="d-none" />
				<video id="webcam" autoplay muted width="100%" class="d-none"></video>
				<img id="testImgPrev" class="d-none"></img>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static',filename='js/tensorflow/tf.min.js')}}"></script>
<script src="{{url_for('static',filename='js/train/image_classification.js')}}"></script>
{% endblock %}