<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=7">

  <title>{{page_title + ' - ' if page_title != "Home"}}AI Playground</title>
  <meta name="description"
    content="A fast and easy way to create machine learning models with no expertise or coding required">
  <link rel="shortcut icon" href="{{url_for('static',filename='img/logo/favicon.ico')}}" type="image/x-icon">

  <meta property="og:title" content="AI Playground">
  <meta property="og:url" content="https://ai.almir.info/">
  <meta property="og:type" content="web.app">
  <meta property="og:description"
    content="A fast and easy way to create machine learning models with no expertise or coding required">
  <meta property="og:image" content="https://ai.almir.info/assets/img/logo/logo.png">

  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/mdb.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/bootstrap-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}">

  {% block style %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md shadow-0 bg-white">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('views.home')}}">
        <img src="{{url_for('static',filename='img/logo/logo-50.png')}}">
      </a>

      <button class="navbar-toggler" type="button" data-mdb-ripple-init data-mdb-toggle="sidenav"
        data-mdb-target="#sidenav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <div class="navbar-nav fs-5 ms-auto">
          <a class="nav-link {{'active' if page_title=='Home'}}" href="{{url_for('views.home')}}">Home</a>
          <a class="nav-link {{'active' if page_title=='Model'}}" href="{{url_for('views.models')}}">Models</a>
        </div>
        <a class="ms-2 btn btn-primary {{'active' if page_title=='Train'}}" href="{{url_for('views.train')}}">
          Create Model
        </a>
      </div>

    </div>
  </nav>

  <nav data-mdb-sidenav-init data-mdb-scroll-container=".sidenav-menu" id="sidenav" class="sidenav">
    <div class="text-center">
      <h1 class="py-4 satisfy-regular">AI Playground</h1>
    </div>
    <ul class="sidenav-menu px-0">
      <li class="sidenav-item">
        <a class="sidenav-link rounded-0 {{'active' if page_title=='Home'}}" href="{{url_for('views.home')}}">Home</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link rounded-0 {{'active' if page_title=='Model'}}"
          href="{{url_for('views.models')}}">Models</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link rounded-0 {{'active' if page_title=='Train'}}" href="{{url_for('views.train')}}">Create
          Model</a>
      </li>
    </ul>
  </nav>

  {% block body %}{% endblock %}

  <footer class="py-3 py-md-5 text-center opacity-75">
    <div class="container d-flex gap-3 flex-column flex-md-row align-items-center justify-content-md-between">
      <span>This is an A.I. experimental website</span>
      <a class="btn btn-lg btn-link text-dark fs-6 text-lowercase" data-mdb-ripple-color="dark" href="//almir.info"
        target="_blank">almir.info</a>
    </div>
  </footer>

  <div id="notification-toast" class="toast-container position-fixed top-0 end-0 p-3"></div>

  <script src="{{url_for('static',filename='bootstrap/mdb.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
  <script src="{{url_for('static',filename='js/common.js')}}"></script>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <script>
    var message = "{{message}}"
    notify(message, 5000)
  </script>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block script %}{% endblock %}
</body>

</html>